body {
  background-color: #212529;
}

.book-img {
  height: 420px;
  object-fit: cover;
}

.welcome-alert {
  left: 40% !important;
}

.book-item:hover {
  transform: scale(1.03);
  transition: ease-in-out 300ms;
}
